spring:
  main:
    banner-mode: off
  jmx:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  flyway:
    enabled: false
    baseline-on-migrate: true
    validate-on-migrate: true