server:
  port: ${PORT}
  undertow:
    threads:
      #      io: 4 Количество IO-потоков (по умолчанию зависит от ядер CPU)
      worker: 20                 # Максимальное количество рабочих потоков
    no-request-timeout: 30000    # Таймаут бездействия (60 сек)
    direct-buffers: true         # Использование прямых буферов (лучше для производительности)
    buffer-size: 256             # Размер буфера (можно уменьшить, если мало RAM)

#========= Spring =========#
spring:
  application:
    name: MadeInRussia
  mvc:

    #========= Cors =========#
    cors:
      allowed-origins: ${CORS_ALLOWED_ORIGINS}
      allowed-methods: ${CORS_ALLOWED_METHODS}
      allowed-headers: ${CORS_ALLOWED_HEADERS}
      allow-credentials: ${CORS_ALLOW_CREDENTIALS}
      max-age: ${CORS_MAX_AGE}

  #========= Datasource =========#
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

    #========= Hikari Pool =========#
    hikari:
      initialization-fail-timeout: 30000
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
      pool-name: HikariPool
      transaction-isolation: TRANSACTION_READ_COMMITTED
      connection-test-query: SELECT 1
      driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: ${JPA_OPEN_IN_VIEW}
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  #========= Mail =========#
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtps
        smtp:
          port: 25
          auth: true
          starttls:
            enable: true
            required: true

#========= Management =========#
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, ratelimit
      base-path: /actuator

#========= Logging =========#
logging:
  level:
    root: ${LOG_LEVEL}

#========= JWT =========#
jwt:
  access-token:
    secret: ${JWT_ACCESS_TOKEN_SECRET}
    lifetime: ${JWT_ACCESS_TOKEN_LIFETIME}
  refresh-token:
    secret: ${JWT_REFRESH_TOKEN_SECRET}
    lifetime: ${JWT_REFRESH_TOKEN_LIFETIME}

app:
  mail-verification:
    duration-in-minutes: ${MAIL_VERIFICATION_DURATION_IN_MINUTES}
  rate:
    limit:
      capacity: ${RATE_LIMIT_CAPACITY}
      whitelist: ${RATE_LIMIT_WHITE_LIST}
      refill:
        tokens: ${RATE_LIMIT_REFILL_TOKENS}
        seconds: ${RATE_LIMIT_REFILL_SECONDS}
  session:
    secret: ${INTERNAL_REQUEST_SECRET}