server:
  port: ${PORT}

#========= Spring =========#
spring:
  application:
    name: MadeInRussia
  servlet:
    multipart:
      max-file-size: ${UPLOADING_MAX_FILE_SIZE}
      max-request-size: ${UPLOADING_MAX_REQUEST_SIZE}
      enabled: true
  mvc:

#========= Cors =========#
    cors:
      allowed-origins: ${CORS_ALLOWED_ORIGINS}
      allowed-methods: ${CORS_ALLOWED_METHODS}
      allowed-headers: ${CORS_ALLOWED_HEADERS}
      allow-credentials: ${CORS_ALLOW_CREDENTIALS}
      max-age: ${CORS_MAX_AGE}

#========= Datasource =========#
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

#========= Hikari Pool =========#
    hikari:
      initialization-fail-timeout: 30000
      connection-timeout: 30000
      maximum-pool-size: 50
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1200000
      leak-detection-threshold: 60000
      auto-commit: false
      pool-name: HikariPool
      transaction-isolation: TRANSACTION_READ_COMMITTED
      connection-test-query: SELECT 1
      driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: ${JPA_OPEN_IN_VIEW}
    properties:
      hibernate:
        connection.provider_disables_autocommit: true
        generate_statistics: false # Для мониторинга
        order_inserts: true       # Оптимизация batch-операций
        order_updates: true
        batch_versioned_data: true
        jdbc:
          batch_size: 30          # Размер batch-операций
          fetch_size: 100         # Размер выборки для ResultSet
        query:
          in_clause_parameter_padding: true # Оптимизация IN-условий
  flyway:
    url: ${POSTGRES_URL}
    user: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}

#========= Mail =========#
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtps
        smtp:
          port: 25
          auth: true
          starttls:
            enable: true
            required: true

#========== Localization ==========#
  messages:
    basename: messages/messages
    encoding: UTF-8

#========= Management =========#
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, ratelimit
      base-path: /actuator

#========= Logging =========#
logging:
  level:
    root: ${LOG_LEVEL}

#========= JWT =========#
jwt:
  access-token:
    secret: ${JWT_ACCESS_TOKEN_SECRET}
    lifetime: ${JWT_ACCESS_TOKEN_LIFETIME}
  refresh-token:
    secret: ${JWT_REFRESH_TOKEN_SECRET}
    lifetime: ${JWT_REFRESH_TOKEN_LIFETIME}

#========== App environments ==========#
app:
  mail-verification:
    duration-in-minutes: ${MAIL_VERIFICATION_DURATION_IN_MINUTES}
  rate:
    limit:
      capacity: ${RATE_LIMIT_CAPACITY}
      whitelist: ${RATE_LIMIT_WHITE_LIST}
      refill:
        tokens: ${RATE_LIMIT_REFILL_TOKENS}
        seconds: ${RATE_LIMIT_REFILL_SECONDS}
  session:
    secret: ${INTERNAL_REQUEST_SECRET}
  cache:
    expires-after-write-in-minutes: ${CACHE_EXPIRES_AFTER_WRITE_IN_MINUTES}
    expires-after-access-in-minutes: ${CACHE_EXPIRES_AFTER_ACCESS_IN_MINUTES}
    maximum-size: ${CACHE_MAXIMUM_SIZE}
  cloudinary:
    api-key: ${CLOUDINARY_API_KEY}
    api-secret: ${CLOUDINARY_API_SECRET}
    cloud-name: ${CLOUDINARY_CLOUD_NAME}
  compress:
    image:
      max-width: ${IMAGE_COMPRESS_MAX_WIDTH}
      max-height: ${IMAGE_COMPRESS_MAX_HEIGHT}
      quality: ${IMAGE_COMPRESS_QUALITY}
    video:
      max-width: ${VIDEO_COMPRESS_MAX_WIDTH}
      max-height: ${VIDEO_COMPRESS_MAX_HEIGHT}
      quality: ${VIDEO_COMPRESS_QUALITY}
