server:
  port: ${PORT}
  undertow:
    threads:
      io: 8                      # Количество IO-потоков (по умолчанию зависит от ядер CPU)
      worker: 50                 # Максимальное количество рабочих потоков
    no-request-timeout: 60000    # Таймаут бездействия (60 сек)
    direct-buffers: true         # Использование прямых буферов (лучше для производительности)
    buffer-size: 1024            # Размер буфера (можно уменьшить, если мало RAM)
spring:
  application:
    name: MadeInRussia
  profiles:
    active: dev
  mvc:
    cors:
      allowed-origins: ${CORS_ALLOWED_ORIGINS}
      allowed-methods: ${CORS_ALLOWED_METHODS}
      allowed-headers: ${CORS_ALLOWED_HEADERS}
      allow-credentials: ${CORS_ALLOW_CREDENTIALS}
      max-age: ${CORS_MAX_AGE}
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
      pool-name: HikariPool
      transaction-isolation: TRANSACTION_READ_COMMITTED
  jpa:
    open-in-view: ${JPA_OPEN_IN_VIEW}
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, ratelimit
      base-path: /actuator
logging:
  level:
    root: ${LOG_LEVEL}

app:
  jwt:
    access-token:
      secret: ${JWT_ACCESS_TOKEN_SECRET}
      lifetime: ${JWT_ACCESS_TOKEN_LIFETIME}
    refresh-token:
      secret: ${JWT_REFRESH_TOKEN_SECRET}
      lifetime: ${JWT_REFRESH_TOKEN_LIFETIME}