logging:
  level:
    org:
      springframework:
        cache: DEBUG
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    driver-class-name: org.postgresql.Driver

app:
  rate:
    limit:
      capacity: 100
      whitelist: 0.0.0.0
      refill:
        tokens: 5
        minutes: 1