logging:
  level:
    org:
      hibernate:
        sql: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
      springframework:
        cache: DEBUG
spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: false
  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    driver-class-name: org.postgresql.Driver
  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: "http://localhost:8080/api/v1/oauth2/callback/google"
app:
  frontend:
    oauth:
      google:
        redirect:
          success: ${FRONT_END_HOST}/site/index.html
          error: ${FRONT_END_HOST}/site/index.html
